body {
    text-align: center;
    background-color: rgba(7, 21, 50, 0.81);
}

.btn {
    height: 170px;
    width: 170px;
    border-radius: 20%;
    border: 8px solid black;
    margin: 2.5rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    background-color: #d95980;
}

.yellow {
    background-color: #f99b45;
}

.green {
    background-color: #63aac0;
}

.purple {
    background-color: #819ff9;
}

.flash {
    background-color: white;
}

.userFlash {
    background-color: green;
}

button {
    height: 3rem;
    width: 12rem;
    background-color:transparent;
    border-radius: 25px;
    font-weight: bold;
    font-size: 18px;
    border: none;
    color: white;
    border: 2px solid white;
}

button:hover{
    /* border: 2px solid rgb(3, 25, 9); */
    cursor: pointer;
}

button:active {
    border: none;
    background-color: red;
}